div.cardtext{
    padding-top: 25px;
    padding-bottom: 25px;
}
div.cardtext{
    border-radius: 1px;
} 
div.cardtext{
	margin-top: 5px;
	margin-bottom: 5px;
}

#cardname{
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2.875em; 
    padding-bottom: 25px;
}
