div.singlecard{
    padding-top: 25px;
    padding-bottom: 25px;
}
div.singlecard{
    border-radius: 5px;
} 
div.singlecard{
	margin-top: 5px;
	margin-bottom: 5px;
}

#cardname{
    text-align: center; 
}